<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= date %></h1>
</div>

<div class="box">
  <% items.forEach(function(item) { %>
  <div class="item">
    <input type="checkbox" name="" value="">
    <p><%= item.name %></p>
    <form class="item delete-form" action="/delete" method="post">
      <button class="delete-button" type="submit" name="deleteItemId" value="<%= item._id %>">-</button>
    </form>
  </div>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItemName" placeholder="New Item Name" value="" autocomplete="false">
    <button class="add-button" type="submit" name="button">+</button>
  </form>
</div>

<%- include("footer") -%>
